@model HayvanSahiplenme.Models.Hayvan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hayvan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cinsiyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cinsiyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CinsiyetIng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CinsiyetIng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsiDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsiDurumu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsiDurumuIng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsiDurumuIng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cins.CinsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HayvanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
