@model IEnumerable<HayvanSahiplenme.Models.Ilan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.İlanBaslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.İlanBaslikIng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HayvanAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinsiyet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CinsiyetIng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AsiDurumu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AsiDurumuIng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AciklamaIng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fotograf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kullanici)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.İlanBaslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.İlanBaslikIng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HayvanAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cins.CinsAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinsiyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CinsiyetIng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AsiDurumu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AsiDurumuIng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AciklamaIng)
            </td>
            <td>
                <img src="@("/image/"+ item.Fotograf)" asp-append-version="true" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kullanici.Ad)  @Html.DisplayFor(modelItem => item.Kullanici.Soyad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IlanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IlanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IlanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
