@model HayvanSahiplenme.Models.Cins

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cins</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CinsAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CinsAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CinsAdIng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CinsAdIng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HayvanId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HayvanId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CinsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
