@model IEnumerable<HayvanSahiplenme.Models.Tur>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="text-danger font-weight-bold">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TurAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TurAdIng)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TurAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TurAdIng)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TurId" class="text-danger">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TurId" class="text-danger">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TurId" class="text-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
